In [1]:
#Import modules
import pandas as pd
import os

In [2]:
#Csv file path
filePath = os.path.join("Resources", "purchase_data.csv")

In [3]:
#Read file and create data frame
pymoli_heroes_df = pd.read_csv(filePath)
pymoli_heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Get total number of players
total_players = len(pymoli_heroes_df["SN"].unique())
total_players

576

In [5]:
#Number of unique items
total_items = len(pymoli_heroes_df["Item Name"].unique())

#Average purchase price
mean_purchase = pymoli_heroes_df["Price"].mean()
mean_purchase = float("{0:.2f}".format(mean_purchase))

#Total purchases
total_purchases = len(pymoli_heroes_df.index)

#Total Revenue
total_revenue = pymoli_heroes_df["Price"].sum()

#Showing data in a Data Frame
purchasing_analysis_df = pd.DataFrame({"Total Unique Items":[total_items], "Average Price":[mean_purchase],
                                       "Total Purchases":[total_purchases], "Total Revenue":[total_revenue]})
purchasing_analysis_df

   Total Unique Items  Average Price  Total Purchases  Total Revenue
0                 179           3.05              780        2379.77

In [6]:
#Percentage and number of male players
male_players = pymoli_heroes_df.loc[pymoli_heroes_df["Gender"] == "Male"]
total_male_players = len(male_players["SN"].unique())
prct_male_players = (total_male_players / total_players)
prct_male_players = "{:.2%}".format(prct_male_players)

#Percentage and number of female players
female_players = pymoli_heroes_df.loc[pymoli_heroes_df["Gender"] == "Female"]
total_female_players = len(female_players["SN"].unique())
prct_female_players = (total_female_players / total_players)
prct_female_players = "{:.2%}".format(prct_female_players)

#Percentage and number of "other" gender players
other_players = pymoli_heroes_df.loc[pymoli_heroes_df["Gender"] == "Other / Non-Disclosed"]
total_other_players = len(other_players["SN"].unique())
prct_other_players = (total_other_players / total_players)
prct_other_players = "{:.2%}".format(prct_other_players)

#Showing Gender Demographics
gender_analysis_df = pd.DataFrame({"Gender":["Male", "Female", "Other / Non-Disclosed"],
                                  "Total Count":[total_male_players, total_female_players, total_other_players],
                                  "Percentage of Players":[prct_male_players, prct_female_players, prct_other_players]})
gender_analysis_df.set_index("Gender")

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [10]:
#Male gender analysis
#Total purchases
total_male_purchases = len(male_players)

#Average purchase price
male_mean_purchase = male_players["Price"].mean()

#Total purchase
male_total_revenue = male_players["Price"].sum()

#Average purchase per person(male)
male_mean_person = male_total_revenue / total_male_players

#Female gender analysis
#Total purchases
total_female_purchases = len(female_players)

#Average purchase price
female_mean_purchase = female_players["Price"].mean()

#Total purchase
female_total_revenue = female_players["Price"].sum()

#Average purchase per person(female)
female_mean_person = female_total_revenue / total_female_players

#Other gender analysis
#Total purchases
total_other_purchases = len(other_players)

#Average purchase price
other_mean_purchase = other_players["Price"].mean()

#Total purchase
other_total_revenue = other_players["Price"].sum()

#Average purchase per person(other)
other_mean_person = other_total_revenue / total_other_players

genderPurchase_analysis_df = pd.DataFrame({"Gender":["Male", "Female", "Other / Non-Disclosed"],
                                          "Purchase Count": [total_male_purchases, total_female_purchases, total_other_purchases],
                                          "Average Purchase Price":[male_mean_purchase, female_mean_purchase, other_mean_purchase],
                                          "Total Purchase Value":[male_total_revenue, female_total_revenue, male_total_revenue],
                                          "Avg Total Purchase per Person":[male_mean_person, female_mean_person, other_mean_person]})
genderPurchase_analysis_df["Average Purchase Price"] = genderPurchase_analysis_df["Average Purchase Price"].map("${:.2f}".format)
genderPurchase_analysis_df["Total Purchase Value"] = genderPurchase_analysis_df["Total Purchase Value"].map("${:.2f}".format)
genderPurchase_analysis_df["Avg Total Purchase per Person"] = genderPurchase_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)
genderPurchase_analysis_df.set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$1967.64,$4.56

In [34]:
#Age demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Data frame for age analysis only
age_df = pd.DataFrame(pymoli_heroes_df.drop_duplicates("SN"))

#Data frame for age purchase analysis
age_purchase_df = pd.DataFrame(pymoli_heroes_df)

age_df["Age Ranges"] = pd.DataFrame(pd.cut(pymoli_heroes_df["Age"], bins, labels=group_labels))

age_list = []
for label in group_labels:
    age_list.append(len(age_df.loc[age_df["Age Ranges"] == label]))

prct_age_list = []
for x in age_list:
    prct_age_list.append((x / total_players) * 100)

age_dem_df = pd.DataFrame({"Age Ranges":group_labels, "Total Count":age_list, "Percentage of Players":prct_age_list})
age_dem_df["Percentage of Players"] = age_dem_df["Percentage of Players"].map("{:.2f}%".format)
age_dem_df.set_index("Age Ranges")

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%